// Colours
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;

// Font Weights
$fw-thin: 100;
$fw-hairline: 100;
$fw-extra-light: 200;
$fw-ultra-light: 200;
$fw-light: 300;
$fw-normal: 400;
$fw-regular: 400;
$fw-medium: 500;
$fw-demi-bold: 600;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-ultra-bold: 800;
$fw-black: 900;
$fw-heavy: 900;

// Font Stacks
$font-stack-helvetica: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-stack-system: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
