@include component(section) {
    min-height: 50vh;

    @responsive {
        @include option(fw) {
            @apply relative w-screen;
            left: -25% * 1.5;
            @include margin(null 0 null -16px);

            @for $c from 1 through 11 {
                @include option(col-#{$c}) {
                    @for $o from 1 through (12 - $c) {
                        @include option(offset-#{$o}) {
                            left: ($o / 12 * 100%) * (12 / $c);
                        }
                    }
                }
            }
        }
    }

    @include part(content) {
        @apply py-64;
        @include rs(padding-right, 64px);
        @include rs(padding-left, 64px);
    }

    h1, .h1 {
        @apply relative;

        &:before {
            content: '--';
            @include absolute((left: -1em));
            color: $color-primary;
            opacity: .6;
            @apply transition-opacity;
        }

        &:hover {
            &:before {
                opacity: 1;
            }
        }

        a {
            color: inherit;

            &:hover {
                color: inherit;
            }
        }
    }
}

@include component(row) {
    @include option(has-fw) {
        > [class*="col-"] {
            @apply z-10;

            &#{option(has-fw)} {
                @apply z-0;

                > * {
                    @include margin(null -16px null -16px);
                }
            }
        }
    }
}
