@include component(sidebar) {
    @apply p-32;
    color: rgba($gray-600, .6);
    @apply max-w-xs;
    //mix-blend-mode: exclusion;

    @include option(sticky) {
        @apply sticky pin-t;
    }

    @include part(heading) {
        @include font-size(18px);
        @apply mb-6;
        @include policy(margin);
        @apply py-12;
        border-bottom: 1px dashed rgba($gray-500, .5);
    }

    @include part(item) {
        display: block;
        @apply pl-8;
        color: $color-primary;
        @include font-size(14px);

        &:hover {
            color: darken($color-primary, 15%);
        }
    }
}
